.app_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
}
body {
  background-color: linen;
}
.stream {
  display: flex;
  overflow: hidden;
}
.card {
  min-width: 320px;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 3px;
  background-color: rgb(4, 2, 136);
  color: white;
  
}
address {
  font-style: italic;
  font-size: 12px;
  text-align: center;
}
/* make the entire body as blue  */
body {
  background-color: #c0c1f8;
}
/*  display the heading as bold and italic and incress its size*/
h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}